<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container my-2" align="center">

		<h3>All Details</h3>

		<table style="width:80%" border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Eid</th>
					<th>Ename</th>
					<th>Email</th>
					<th>Address</th>
					<th>MobileNumber</th>
					<th>Salary</th>
					<th>Did</th>
					<th>Dname</th>
					
				</tr>
			</thead>
		</table>
	</div>

</body>
</html>