<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">

	<title>Employee Registration Form</title>

	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<div class="container my-2" align="center">
		<h3>Employee Registration Form</h3>
		<h4>Add Employee</h4>
		<hr />
		<form th:action="@{/saveEmployee}" th:object="${employees}" method="POST">
			<input type="number" th:field="${employees.eid}" placeholder="Enter eid"
				class="form-control col-4 mb-4" /><br>
			<input type="text" th:field="${employees.ename}" placeholder="Enter ename"
				class="form-control col-4 mb-4" /><br>
			<input type="text" th:field="${employees.address}" placeholder="Enter address"
				class="form-control col-4 mb-4" /><br>
			<input type="text" th:field="${employees.email}" placeholder="Enter email"
				class="form-control col-4 mb-4" /><br>
			<input type="text" th:field="${employees.mobilenumber}" placeholder="Enter mobilenumber"
				class="form-control col-4 mb-4" /><br>
			<input type="number" th:field="${employees.salary}" placeholder="Enter salary"
				class="form-control col-4 mb-4" /><br>
			<button class="btn btn-primary" type="submit">save</button>
		</form>
	</div>
</body>

</html>